@import "../../colors";

.headerWrapper {
	border-bottom: 2px solid $secondary;
	padding: 10px;
	width: 100%;
	height: 66px;
	align-items: center;
	justify-content: space-between;
}

.header {
	gap: 10px;
	align-items: center;
}


.exitButton {
	justify-self: end;
}